body {
    background-image: linear-gradient(to right, #C6EBBE, #7CA5B8);
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}

blockquote {
    max-width: 35rem;
    flex-grow: 2;
}

button {
    background: #38369A;
    color: #FFF;
}


